@import 'remixicon/fonts/remixicon.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
TODO Revisar si es necesario todo el CSS que esta en global.css
 */

html {
  height: 100%;
  scroll-padding-top: 72px;
}

body {
  height: 100%;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* polygon */

::view-transition-group(root) {
  animation-duration: 0.7s;
  animation-timing-function: var(--expo-out);
}
::view-transition-new(root) {
  animation-name: reveal-light;
}
::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  z-index: -1;
}
.dark::view-transition-new(root) {
  animation-name: reveal-dark;
}
@keyframes reveal-dark {
  from {
    clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
  }
  to {
    clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
  }
}
@keyframes reveal-light {
  from {
    clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
  }
  to {
    clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
  }
}


@layer components {

  .header-link-active {
    @apply text-[#cea100] font-bold transition delay-150 duration-300;
  }

  .header-link-hover {
    @apply text-[#cea100] transition delay-150 duration-300;
  }

  .header-btn {
    @apply cursor-pointer py-1 px-1 mx-1 z-10;
  }

  .sideBar-widget {
    @apply flex items-center w-full border-b mb-2;
  }

  .waline-comment-content {
    @apply p-1 overflow-auto max-h-72 break-words;
  }

  .waline-comment-author {
    @apply text-end mb-1 break-words;
  }

  a {
    @apply cursor-pointer;
  }

  .menu-icon {
    @apply text-xl mr-2;
  }

  /* markdown内容图片样式 */
  .image-cols-2 {
    @apply grid gap-4 grid-cols-2 my-2;
  }

  .image-cols-3 {
    @apply grid gap-4 grid-cols-3 my-2;
  }

  .image-cols-4 {
    @apply grid gap-4 grid-cols-4 my-2;
  }
}

* {
  scroll-behavior: smooth;
}

.divider-vertical {
  position: relative;
  top: -.06em;
  display: inline-block;
  height: .9em;
  margin: 0 8px;
  vertical-align: middle;
  border-top: 0;
  border-left: 1px solid rgba(0, 0, 0, .06);
  background-color: rgba(var(--color-text), .3);
}

.divider-horizontal {
  display: flex;
  clear: both;
  width: 100%;
  height: 1px;
  min-width: 100%;
  margin: 16px 0;
  background-color: rgba(var(--color-text), .3);
}

.divider-horizontal-mini {
  display: flex;
  clear: both;
  width: 100%;
  height: 1px;
  min-width: 100%;
  margin: 8px 0;
  background-color: rgba(var(--color-text), .3);
}

.markdown-body {
  background-color: inherit;
}

.markdown-body p,
li,
ul,
ol,
div,
a {
  line-height: 26px;
}

.waline-comment-content-author {
  text-align: end;
  margin-bottom: 6px;
}

.wl-emoji {
  height: 24px;
  display: inline-block;
}

ul,
ol,
menu {
  list-style: none;
}

.markdown-body menu,
.markdown-body ul {
  list-style: disc;
}

.markdown-body ol {
  list-style: decimal;
}

::-webkit-scrollbar {
  width: 10px;
  height: 16px;
  background-color: #edede9;
}

::-webkit-scrollbar-thumb {
  background-color: #c0c4cc;
  border-radius: 4px;
}

.post-sticky {
  font-weight: 400;
  height: 20px;
  padding: 0 6px;
  margin-right: 5px;
  line-height: 20px;
  font-size: 16px;
  white-space: nowrap;
  vertical-align: 2px;
  color: rgb(var(--color-fill));
  background-color: rgb(var(--color-text));
  opacity: 0.8;
  border-radius: 2px 6px;
}

.is-active-link {
  color: rgb(var(--color-text-active)) !important;
}

#toc a:hover {
  color: rgb(var(--color-text-active));
}

.toc-link::before {
  display: none !important;
}

.avatar {
  border-radius: 50%;
  padding: 4px;
  width: 96px;
  height: 96px;
  object-fit: cover;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.expressive-code {
  margin: 1rem 0;
}
