---

---
<script>

  import domHelpers from '@helpers/domHelpers';

  const showAsideBtn = domHelpers.$<HTMLElement>("#sideBar-btn");
  const closeAsideBtn = domHelpers.$<HTMLElement>("#sideBar-close-btn");
  const menuIcon = domHelpers.$<HTMLElement>("#menu-icon");
  const menuCloseIcon = domHelpers.$<HTMLElement>("#menu-icon-close");
  const menu = domHelpers.$<HTMLElement>("#mobile-menu");
  const personalInfo = domHelpers.$<HTMLElement>("#personal-info");

  if (showAsideBtn && closeAsideBtn && menuIcon && menuCloseIcon && menu && personalInfo) {
    showAsideBtn.addEventListener("click", () => {
      if (menuIcon.classList.contains('hidden')) {
        menuIcon.classList.toggle('hidden');
        menuCloseIcon.classList.toggle("hidden");
        menu.classList.toggle("hidden");
      }
      showAsideBtn.classList.toggle("hidden");
      closeAsideBtn.classList.toggle("hidden");
      personalInfo.classList.toggle("hidden");
    });

    closeAsideBtn.addEventListener("click", () => {
      closeAsideBtn.classList.toggle("hidden");
      personalInfo.classList.toggle("hidden");
      showAsideBtn.classList.toggle("hidden");
    });
  }

  </script>

<button type="button" id="sideBar-btn" class="header-btn" title="Open Aside Bar" aria-label="auto" aria-live="polite">
  <i class="ri-user-line"/>
</button>
<button type="button" id="sideBar-close-btn" class="header-btn hidden" title="Close Aside Bar" aria-label="auto" aria-live="polite">
  <i class="ri-close-fill"/>
</button>

<div id="blog-sideBar" class="absolute top-16 bg-skin-fill right-0 blog-sideBar hidden">

</div>

