---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
---
<script>
  import domHelpers from '@helpers/domHelpers';

  domHelpers.$$<HTMLAnchorElement>("a").forEach(item => {
  item.setAttribute("rel", "nofollow noreferrer");
});
</script>

<html lang="en">
<BaseHead/>
<body class="font-onest relative">
  <div
  class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950
  bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
  dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
  >
  </div>

  <Header/>
<main class="container p-4 pt-20 text-skin-base pb-32 min-h-full relative" id="app">
  <div class="grid grid-cols-4 gap-8">
    <div class="col-span-4 xl:col-span-3 space-y-6">
      <slot></slot>
    </div>
    <div>
      <div class="hidden xl:block space-y-6">

      </div>
    </div>
  </div>
</main>
</body>
</html>
